* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border_black {
    border: 1px dashed black;
}

#top_wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ADD8E6;
}

#top_nav_wrapper {
    max-width: 980px;
    min-height: 30px;
    margin: auto;
    display: flex;
    background-color:#D9A420;
}

#top_logo, #top_nav, #login {
    padding: 5px;
    flex-grow: 1;
}

#top_logo {
    text-align: left; /*not necessary but more elegant imo*/
}

#top_nav {
    text-align: center;
}

#login {
    text-align: right;
}

header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #01038B;
}

#header_section {
    max-width: 800px;
    min-height: 300px;
    margin: auto;
    background-color: #EE82EE
}

#hr1 {
    border: 1px solid #A0D2E1;
}



