* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border_black {
    border: 1px dashed black;
}

.border_white {
    border: 1px dashed white;
}

#top_wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ADD8E6;
}

#top_nav_wrapper {
    max-width: 980px;
    min-height: 30px;
    margin: auto;
    display: flex;
    background-color:#D9A420;
}

#top_logo, #top_nav, #login {
    padding: 5px;
    flex-grow: 1;
}

#top_logo {
    text-align: left; /*not necessary but more elegant imo*/
}

#top_nav {
    text-align: center;
}

#login {
    text-align: right;
}

header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #01038B;
}

#header_section {
    max-width: 800px;
    min-height: 300px;
    margin: auto;
    background-color: #EE82EE
}

#hr1 {
    border: 1px solid #A0D2E1;
}

.main_section {
    padding-top: 30px;
    padding-bottom: 30px;
}

#section1, #section3 {
    background-color: #FFFFFF;
}

#section2, #section4 {
    background-color: #D3D3D3;
}

.section_content {
    max-width: 980px;
    min-height: 400px;
    margin: auto;
    display: flex;
}

#section1_content_left, #section2_content_right, #section3_content_left {
    flex-grow: 1.5;
    background-color: #3690FF;
}

#section1_content_right, #section2_content_left, #section3_content_right {
    flex-grow: 1;
    background-color: #F7C0CB;
}

#section4_content {
    max-width: 980px;
    min-height: 700px;
    margin: auto;
    background-color: #3A8B22;
}

#footer_top, #footer_bottom {
    background-color: #23272A;
}

#footer_top {
    padding-top: 5px;
    padding-bottom: 20px;
}

#footer_section1 {
    max-width: 980px;
    min-height: 400px;
    margin: auto;
    display: flex;
}

#footer_top_left {
    flex-grow: 1;
    background-color: #F08080;
}

#footer_nav {
    flex-grow: 2.5;
    display: flex;
}

.section_footer_nav {
    flex-grow: 1;
    background-color: #4BB2AA;
}

#hr2 {
    border: 1px solid #C0C0C0;
}

#footer_bottom {
    padding-top: 15px;
}

#footer_section2 {
    max-width: 980px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #7FFFD4;
}

#bottom_logo, #bottone {
    padding: 2px;
    background-color: #F5B5C0;
}

/* Could have done better with some 
css advanced selectors?? */

